@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

nav {
    background-color: black;
    padding: 0px 0px 0px 20px;
    color: white;
    font-size: 25px;
    height: 65px;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
}

.gameContainer {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.gameContainer .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.line {
    height: 3px;
    width: 0vw;
    position: absolute;
    background-color: rgb(252, 20, 186);
    transition: width 1s ease-in-out;

}

.gameContainer .container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    font-size: 10vw;
    cursor: pointer;
}

.gameContainer .container .box:hover {
    background-color: rgb(251, 227, 244);
}

.info {
    display: flex;
    flex-direction: column;
}

.gameContainer .info h2 {
    padding: 0px 18px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: xx-large;
    text-align: center;
}

.gameContainer .info section {
    display: flex;
    margin-left: 15px;
    justify-content: center;
}

.gameContainer .info section span {
    font-size: 15px;
    font-weight: 600;
    color: rgb(236, 47, 176);
    margin-right: 10px;
}

#reset {
    background-color: rgb(251, 227, 244);
    padding: 2px;
    border: 2px solid purple;
    border-radius: 11px;
    cursor: pointer;
}

.gameContainer .info .img {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    height: 0px;
    transition: height 0.7s ease-in-out;
}

.bt-0 {
    border-top: 0px !important;
}

.bl-0 {
    border-left: 0px !important;
}

.br-0 {
    border-right: 0px !important;
}

.bb-0 {
    border-bottom: 0px !important;
}

@media (max-width: 800px) {
    .gameContainer .container {
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
    .gameContainer .container .box {
        font-size: 20vw;
    }
    .info {
        padding-top: 30px;
    }
}